/*----------------LOGO----------------*/
.logo{
    margin-left: 45%;
    width: 10%;
    height: 20%;
}

/*----------------BAR DE RECHERCHE----------------*/

.search-bar input[type="text"] {
    display: flex;
    position: relative;
    left: 10%;
    width: 80%;
    padding: 20px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgba(65, 58, 58, 0.218);
}

.search-bar input[type="text"]:hover {
    border: 1px solid #0a0a9984;
}

.search-bar i svg{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 20px 88%;
    width: 3%;
    height: 5%;
}

/*----------------FILTRES----------------*/
.filters {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0 20px 10%;
}

.filters p {
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.filters ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.filters ul li {
    margin-right: 20px;
}

.filters ul li button {
    padding: 10px 15px;
    margin-top: 13px;
    border: none;
    background-color: #4c484839;
    border-radius: 20px;
    cursor: pointer;
}

.filters ul li button:hover {
    transition: 200ms;
    background-color: #0a0a9984;
    padding: 10px 45px;
}

/*----------------Partie : SECTION----------------*/
section {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px;
    margin: 20px 5%;
}

/*----------------Partie : CARTE----------------*/
.carte {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

/*----------------H2----------------*/
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5%;
    padding-top: 2%;
    font-size: 28px;
}

/*----------------ARTICLES----------------*/
article {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.375);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    text-align: left;
}

article:hover {
    background-color: rgba(0, 255, 195, 0.318);
    transform: translateY(-9px);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.582);
    cursor: crosshair;
}

/*----------------IMAGES----------------*/
article img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}

/*----------------TEXTE-hotel + prix----------------*/
article h3, article p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 20px;
}

article h3 {
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

article p {
    color: rgb(1, 81, 15);
    margin-top: 0;
}
