* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.form-card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}



.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.input-group input:focus, .input-group select:focus {
    border-color: #00bfa5;
    outline: none;
}

.radio-group {
    display: flex;
    justify-content: space-between;
}

.radio-group label {
    font-size: 14px;
    color: #555;
}

button {
    background-color: #0036f8;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0099ff;
}

@media (max-width: 600px) {
    .form-card {
        padding: 20px;
    }

    h2 {
        font-size: 20px;
    }
}


.back-button {
    position:absolute;
    margin-top:280px;
    right: 48%;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #d32f2f;
}

